@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-item > img { 
    width: 80%; 
  }

  .carousel-control-prev,.carousel-control-next {
    cursor:pointer;
  }